*{
  box-sizing:border-box;
}

html, body{
  margin:0;
  padding:0;
  height:100%;
  font-family:Arial Black, sans-serif;
  color:white;
}

/* BACKGROUND */
.bg{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:url('assets/bg.jpg') center/cover no-repeat;
  z-index:-1;
}

/* CENTER LAYOUT */
.game{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

/* FRAME UTAMA */
.frame{
  width:100%;
  max-width:400px;
  padding:20px;
  background:url('assets/frame.png') no-repeat center;
  background-size:100% 100%;
  text-align:center;
}

/* TITLE */
h1{
  margin-bottom:10px;
  font-size:26px;
}

/* WALLET TEXT */
#wallet{
  margin-top:10px;
  font-size:12px;
  opacity:0.8;
}

/* BUTTON IMAGE BASE */
.btn{
  width:100%;
  aspect-ratio:4/1;
  background-position:center;
  background-repeat:no-repeat;
  background-size:100% 100%;
  border:none;
  cursor:pointer;
  position:relative;
  margin-top:12px;
  transition:0.15s;
}

/* CONNECT BUTTON IMAGE */
.connect{
  background-image:url('assets/btn-connect.png');
}

/* MINT BUTTON IMAGE */
.mint{
  background-image:url('assets/btn-mint.png');
}

/* TEXT DI TOMBOL */
.btn span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-weight:bold;
  font-size:15px;
  text-shadow:0 2px 4px rgba(0,0,0,0.8);
}

/* EFEK */
.btn:hover{
  filter:brightness(1.1);
}

.btn:active{
  transform:scale(0.95);
}

/* INPUT WRAP (PAKAI GAMBAR) */
.inputWrap{
  width:100%;
  aspect-ratio:5/1;
  background:url('assets/input.png') no-repeat center;
  background-size:100% 100%;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:12px;
}

/* INPUT */
input{
  width:80%;
  background:transparent;
  border:none;
  outline:none;
  text-align:center;
  color:white;
  font-size:16px;
}

/* SLIDER */
.sliderBox{
  display:flex;
  align-items:center;
  gap:10px;
  margin-top:12px;
}

.sliderBox span{
  font-size:12px;
}

/* RANGE */
input[type=range]{
  flex:1;
}

/* RECEIVE */
.receive{
  margin-top:15px;
}

.receive p{
  font-size:12px;
  opacity:0.7;
}

.receive h2{
  margin:5px 0;
}

/* PROGRESS */
.progress{
  width:100%;
  height:14px;
  background:#111;
  border-radius:999px;
  margin-top:15px;
  overflow:hidden;
}

/* FILL */
#fill{
  height:100%;
  width:0%;
  background:linear-gradient(90deg,#ff0000,#ff8800);
  border-radius:999px;
  transition:0.3s;
}

/* TEXT */
#progressText{
  font-size:12px;
  margin-top:5px;
}

/* RESPONSIVE HP */
@media(max-width:480px){
  h1{
    font-size:22px;
  }

  .btn span{
    font-size:14px;
  }
}

/* RESPONSIVE PC */
@media(min-width:768px){
  .frame{
    max-width:420px;
  }
}
